<!DOCTYPE html>
<html>
  <head>
    <title>UNIT</title>

    <meta charset="utf-8">
    <meta name="Description" CONTENT="Universal Network for IT, 대학생과 청년들을 위한 IT 네트워크">
    <meta name="keywords" content="UNIT,유닛,네트워크,프로젝트,대학생,청년,개발자,디자이너,기획자">

    <meta name="robots" content="noindex,nofollow">
    <meta name="googlebot" content="noindex" />
    <meta name="googlebot-news" content="nosnippet">

    <meta property="og:url" content="https://unit.center" />
    <meta property="og:title" content="Universal Network for IT" />  
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="images/title_logo.png" />
    <meta property="og:description" content="대학생과 청년들을 위한 IT 네트워크 UNIT(유닛)" />

</head>
</html>